<div class="about-section">
  <h1 style="color: #02a95c; font-family: poppins" align="center">
    About Us Page
  </h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab animi neque vel
    quisquam dolores nihil blanditiis quaerat, illum assumenda odit odio id
    perspiciatis earum. Eaque aliquam dignissimos eligendi in error.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos eius
    maxime error dolorum vero esse. Tempora, similique quidem? Ex unde nesciunt
    esse modi accusantium dolorem harum, sunt ab quam.
  </p>
</div>

<h2 style="color: #02a95c; font-family: poppins" align="center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Ali" style="width: 100%" />
      <div class="container">
        <h2 style="color: #02a95c; font-family: poppins">Shaiaz Ali</h2>
        <p class="title"  style="color: #02a95c; font-family: poppins">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>ali@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="fabiha" style="width: 100%" />
      <div class="container">
        <h2  style="color: #02a95c; font-family: poppins">Fabiha Tasnim Trisha</h2>
        <p class="title" style="color: #02a95c; font-family: poppins">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>fabiha@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Shams" style="width: 100%" />
      <div class="container">
        <h2  style="color: #02a95c; font-family: poppins">Shahriar Shams</h2>
        <p class="title" style="color: #02a95c; font-family: poppins">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>shams@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="ALif" style="width: 100%" />
      <div class="container">
        <h2 style="color: #02a95c; font-family: poppins">Alif Hassan</h2>
        <p class="title"  style="color: #02a95c; font-family: poppins">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>alif@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>