<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms And Conditions</title>
  </head>
  <body>
    <h1 style="color:#02a95c;font-family:daggersquare;" align= "center">Fund Lagbe!</h1>
    <img src="tc.jpg" width="1500" height="400" />
    <h1 style="color: #02a95c; font-family: poppins" align="center">
      Terms And Conditions
    </h1>
    <p style="font-family: poppins">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      magnam voluptatibus cum ipsum repellat accusantium, harum repellendus
      possimus inventore, cupiditate odio incidunt neque nulla ducimus amet
      tenetur non consequatur iure?Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Ad harum accusamus cum. Sed sunt, corporis in voluptates
      doloribus at porro nihil. Asperiores recusandae nam, ipsam quae atque
      enim! Laudantium, quis?Lorem ipsum, dolor sit amet consectetur adipisicing
      elit. Error ducimus dolore eius aut molestiae eum ea dolorum quaerat et.
      Molestiae est fuga id praesentium aspernatur, porro asperiores eveniet non
      esse?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam at,
      dicta esse repudiandae velit nobis error suscipit ipsum illo ut a amet
      voluptatum distinctio ab cum iusto consectetur reprehenderit sequi.lorem
      <footer>
        <p align="center"style="background-color:#02a95c;font-family:poppins;color:rgb(255,255,255);">© Fund Lagbe!<br></p>
      </footer>
    </p>
  </body>
</html>